{% extends "base.html" %}
{% load static %}

{% block extra_style %}
<style>
    .ql-toolbar {
        border-top-left-radius: .25em;
        border-top-right-radius: .25em;
    }

    .ql-container {
        border-bottom-left-radius: .25em;
        border-bottom-right-radius: .25em
    }
</style>
{% endblock extra_style %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form id="post_form" action="{% url 'posts:create' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="post" class="form-label">Post</label>
                    <select name="post" class="form-select {% if serializer_errors.post %}is-invalid{% endif %}">
                        <option value="">Select a post</option>
                        {% for post in posts %}
                        {% with post_pk=serializer_data.post|add:0 %}
                        <option value={{ post.pk }} {% if post_pk == post.pk %}selected="selected"{% endif %}>
                            {{ post.slug }} {{ post_pk }} {{ post.pk }}
                        </option>
                        {% endwith %}
                        {% endfor %}
                    </select>
                    {% for error in serializer_errors.post %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input
                        name="title"
                        type="text"
                        class="form-control {% if serializer_errors.title %}is-invalid{% endif %}"
                        id="title"
                        value="{{ serializer_data.title }}">
                    {% for error in serializer_errors.title %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <div id="editor" style="min-height: 300px;"></div>
                </div>

                <div class="mb-3" style="display: none;">
                    <textarea name="json_body" id="json_body" cols="30" rows="10"></textarea>
                </div>

                <div class="mb-3" style="display: none;">
                    <textarea name="html_body" id="html_body" cols="30" rows="10"></textarea>
                </div>

                <div class="mb-3">
                    <label for="language" class="form-label">Language</label>
                    <select name="language"
                        class="form-select {% if serializer_errors.language %}is-invalid{% endif %}">
                        <option selected disabled>Language</option>
                        {% for language in languages %}
                        <option value="{{ language.0 }}" {% if serializer_data.language == language.0 %}selected="selected" {% endif %}>
                            {{ language.1 }}
                        </option>
                        {% endfor %}
                    </select>
                    {% for error in serializer_errors.language %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3 form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        id="draft"
                        name="draft"
                        {% if serializer_data.draft %}checked{% endif %}
                    >
                    <label class="form-check-label" for="draft">Draft</label>
                    {% for error in serializer_errors.draft %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_script %}
<script src="{% static 'editor.js' %}"></script>
{% endblock extra_script %}