server {
    listen 80;
    server_name {{ nginx_server_names }};

    return 301 https://$host$request_uri;
}


server {
    server_name {{ nginx_server_names }};

    listen 443 ssl;
    ssl_certificate {{ nginx_cert_dir }}/live/syafiqtermizi.com/fullchain.pem;
    ssl_certificate_key {{ nginx_cert_dir }}/live/syafiqtermizi.com/privkey.pem;
    include {{ nginx_cert_dir }}/options-ssl-nginx.conf;
    ssl_dhparam {{ nginx_cert_dir }}/ssl-dhparams.pem;

    location /static/ {
        alias {{ remote_project_dir }}/staticfiles/;
    }


    location / {
        proxy_pass http://localhost:8000/;
    }
}
